/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

:root {
    --headerFontWeight: 700;
    --linkColor: #5e6cda;
    --linkVisitedColor: #bf3333;
    --linkActiveColor: #59bc2b;
    --outlineColor: #000;
    --buttonBackgroundColor: dodgerblue;
    --buttonTextColor: white;
    --buttonBorderColor: rgba(0, 0, 0, 0.3);
    --homeButtonColor: darkslateblue;
    --homeButtonActiveColor: lightblue;
    --homeButtonFocusColor: red;
    --secondaryButtonBackgroundColor: #e0b354;
    --secondaryButtonTextColor: #2b2b2b;
    --gridItemBackgroundColor: lightgray;
    --sunColorZero: #edc655;
    --sunColorFifty: #fcffad;
    --sunColorHundred: var(#f76414);
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 30px;
    font-weight: var(--headerFontWeight);
}

h2 {
    font-size: 24px;
    font-weight: var(--headerFontWeight);
}

h3 {
    font-size: 18px;
    font-weight: var(--headerFontWeight);
}

a {
    color: var(--linkColor);
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: var(--linkVisitedColor);
}

a:active {
    color: var(--linkActiveColor);
}

a:focus {
    outline: 2px solid var(--outlineColor);
}

button,
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--buttonBackgroundColor);
    color: var(--buttonTextColor);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 3px;
    border-bottom: 2px solid var(--buttonBorderColor);
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

button:hover {
    background-color: var(--homeButtonColor);
}

button:active {
    background-color: var(--homeButtonActiveColor);
}

button:focus {
    border: 2px solid var(--homeButtonFocusColor);
}

button:hover,
button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button__secondary {
    background-color: var(--secondaryButtonBackgroundColor);
    color: var(--secondaryButtonTextColor);
}

.navigation-list__item--active {
    text-decoration: none;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
}

.page-header__logo {
    width: 15%;
    height: 15%;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid__item {
    background-color: var(--gridItemBackgroundColor);
}

.grid__item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.grid__item:hover .overlay {
    opacity: 1;
}

@-webkit-keyframes color-change {
    0% {
        fill: var(--sunColorZero);
    }

    50% {
        fill: var(--sunColorFifty);
    }

    100% {
        fill: var(--sunColorHundred);
    }
}

@keyframes color-change {
    0% {
        fill: var(--sunColorZero);
    }

    50% {
        fill: var(--sunColorFifty);
    }

    100% {
        fill: var(--sunColorHundred);
    }
}

.sun {
    -webkit-animation: 4s color-change inifinite alternate linear;
    animation: 4s color-change inifinite alternate linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    -webkit-animation: 30s cloud-move inifinite alternate linear;
    animation: 30s cloud-move inifinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }

    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }

    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
    animation: 34s cloud-move-reverse infinite alternate linear;
}

:root {
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b;
}

a {
    color: #357b70;
}

.bg-darker {
    background-color: #16342f;
}

.bg-lighter {
    background-color: #449f90;
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}
